@media (max-width: 1200px) {
    .section {
      padding-top: 40px;
      padding-bottom: 40px;
        .product {
            justify-content: normal;
            padding: 0 20px;

            .product-presentation {
                padding-top: 0px;
                width: 400px;
                .h1-product-name {
                    font-size: 18px;
                    width: 320px;
                }

                .span-product-info{
                    font-size: 40px;
                }

                .span-product-text {
                    font-size: 16px;
                }

                .product-download{
                    .product-download-first {
                        width: 145px;
                        .link-product-download-googleplay {
                        height: 43px;
                            .text-get {
                                font-size: 8px;
                            }
                            .text-google {
                                font-size: 15px;
                            }
                        }
                    }
                    
                    .product-download-second {
                        width: 130px;
                        .link-product-download-appstore{
                            height: 43px;
                            .text-download {
                                font-size: 8px;
                            }
                            .text-app {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }    
            .product-composition {
                background: url(../images/Comp-1_00000-1.jpg) 0 0/350px 350px no-repeat;
                height: 350px;
                width: 350px;
            }
        }  
    }
}

@media (max-width: 900px) {
    .section
        .product {
            .product-presentation {
                .h1-product-name {
                    margin-bottom: 10px;
                    padding: 3px 0 5px 0;
                    width: 250px;
                    font-size: 14px;
                }

                .span-product-info{
                    font-size: 38px;
                    margin-bottom: 15px;
                }

                .span-product-text {
                    font-size: 14px;
                }

                .product-download{
                    .product-download-first {
                        width: 145px;
                        .link-product-download-googleplay {
                        height: 43px;
                        }
                    }
                    
                    .product-download-second {
                        width: 130px;
                        .link-product-download-appstore{
                            height: 43px;
                        }
                    }
                }
            }    
            .product-composition {
                background: url(../images/Comp-1_00000-1.jpg) 0 0/250px 250px no-repeat;
                height: 250px;
                width: 250px;
                margin: 0 auto;
            }
        }
            
}


@media (max-width: 700px) {
    .section {
        padding-top: 10px;
        .product {
            .product-presentation {
                
                padding-top: 10px;
                width: 315px;

                .h1-product-name {
                    margin-bottom: 5px;
                    padding: 3px 0 5px 0;
                    width: 250px;
                    font-size: 14px;
                }

                .span-product-info{
                    font-size: 25px;
                    margin-bottom: 5px;
                    line-height: 40px;
                }

                .span-product-text {
                    font-size: 14px;
                    margin-bottom: 15px;
                }

                .product-download {
                    justify-content: end;
                    .product-download-first {
                        width: 145px;
                        height: 40px;
                        img {
                            block-size: 45%;
                        }
                        .link-product-download-googleplay {
                        height: 30px;

                        }
                    }
                    
                    .product-download-second {
                        width: 130px;
                        height: 40px;
                        img {
                            block-size: 45%;
                        }
                        .link-product-download-appstore{
                            height: 30px;
                        }
                    }
                }
            }
            .product-composition {
               
                height: 590px;
                background: url(../images/Comp-1_00000-1.jpg) 0 0/315px 315px no-repeat;
                
                height: 230px;
                width: 300px;
                background-size: 70%;
                background-position: center;
            }
        }
    }
    
}

@media (max-width: 630px) {
    .section {
        padding-top: 10px;
        .product {
            grid-template-columns: 1 1fr;
            .product-presentation {
                grid-row-start: 2;
                grid-column-start: 1;
                margin: 0 auto;
                .h1-product-name {
                    margin-bottom: 3px;
                    padding: 0px 0 0px 0;
                    width: 212px;
                    font-size: 12px;
                    img {
                        width: 20px;
                    }
                }
                .span-product-info{
                    font-size: 18px;
                    margin-bottom: 3px;
                    line-height: 21px;
                }
                .span-product-text {
                    line-height: 15px;
                    font-size: 10px;
                    margin-bottom: 10px;
                  
                }
                .product-download {
                    justify-content: left;
                    .product-download-first {
                        width: 110px;
                        height: 30px;
                        img {
                            block-size: 40%;
                        }
                        .link-product-download-googleplay {
                        height: 30px;
                            .text-google {
                                font-size: 10px;
                            }

                        }
                    }
                    
                    .product-download-second {
                        width: 110px;
                        height: 30px;
                        img {
                            block-size: 40%;
                        }
                        .link-product-download-appstore{
                            height: 30px;
                            .text-app {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
            .product-composition {
                grid-row-start: 1;
                grid-column-start: 1;
                height: 590px;
                background: url(../images/Comp-1_00000-1.jpg) 0 0/315px 315px no-repeat;
                height: 230px;
                width: 300px;
                background-size: 70%;
                background-position: center;
            }
        }
    }
    
}
