@media (max-width: 1200px) {
    .section6 {
        padding: 20px 0 49px 0;
        .about-product-access {
            padding: 0 20px;
            .about-access {
                display: grid;
                grid-template-columns: 1fr 2fr;
                justify-items: center;
                .about-access-image{
                    background: url(../images/Screen-Shot-2020-09-17-at-4.05.png), url(../images/Rectangle\ 918\ \(2\).png);
                    background-repeat: no-repeat;
                    position: relative;
                    left: -80px;
                    background-position: 13px 32px, 0px 30px;
                    width: 400px;
                    background-size: 100%, 100%;
                    height: 445px;
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .section6 {
        padding: 20px 0 49px 0;
        .about-product-access {
            .about-access {
                display: grid;
                grid-template-columns: 1fr ;
                justify-items: center;
                .about-access-info {
                    padding-top: 40px;
                }
                .about-access-image{
                    grid-row-start: 1;
                    background: url(../images/Screen-Shot-2020-09-17-at-4.05.png), url(../images/Rectangle\ 918\ \(2\).png);
                    position: relative;
                    background-repeat: no-repeat;
                    left: 20px;
                    background-position: 15px 32px, 0px 30px;
                    width: 400px;
                    background-size: 100%, 100%;
                    margin: 0 auto;
                    height: 290px;
                    
                }   
            }
        }
    }
}

@media (max-width: 550px) {
    .section6 {
        padding: 20px 0 49px 0;
        .about-product-access {
            .about-access {
                display: grid;
                grid-template-columns: 1fr ;
                justify-items: center;
                .about-access-info {
                    padding-top: 30px;
                    h5 {
                        font-size: 25px;
                        line-height: 20px;
                    }
                    p {
                        font-size: 15px;
                        line-height: 20px;
                        margin-bottom: 20px;
                    }
                }
                .about-access-image{
                    grid-row-start: 1;
                    background: url(../images/Screen-Shot-2020-09-17-at-4.05.png), url(../images/Rectangle\ 918\ \(2\).png);
                    position: relative;
                    background-repeat: no-repeat;
                    left: 20px;
                    background-position: 15px 32px, 0px 30px;
                    width: 250px;
                    background-size: 100%, 100%;
                    margin: 0 auto;
                    height: 200px;
                    
                }   
            }
        }
    }
}