

@media (max-width: 1200px) {
    .section3 {
        padding: 37px 0 49px 0;
        text-align: center;
        .about-product-why {
            padding: 0 15px;
            .h2 {
                font-weight: bold;
            }
            .span{
                margin-bottom: 20px;
                font-size: 18px;
            }
            .about-why {
                display: grid;
                grid-template-columns: 2fr 1fr;
                .about-why-info {
                    padding-top: 40px;
                    text-align: left;
                    max-width: 485px;
                    padding-left: 25px;
                    h5 {
                        font-family: 'Lato';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 45px;
                    }
                }
                .about-why-image{
                    background: url(../images/Comp_3Afinal\ 1.png), url(../images/Rectangle\ 918\ \(1\).png);
                    position: relative;
                    background-repeat: no-repeat;
                    left: 80px;
                    background-position: 56px 7px, 0px 30px;
                    width: 400px;
                    background-size: 46%, 100%;
    
                }
                    
            }
        }
    }
}

@media (max-width: 767px) {
    .section3 {
        .about-product-why {
            .h2 {
            }
            .span{
            }
            .about-why {
                display: grid;
                grid-template-columns: 1fr;
                .about-why-info {
                    grid-row-start: 2;
                    h5 {
                        font-size: 30px;
                        line-height: 40px;
                    }
                }
                .about-why-image{
                    background: url(../images/Comp_3Afinal\ 1.png), url(../images/Rectangle\ 918\ \(1\).png);
                    position: relative;
                    background-repeat: no-repeat;
                    left: 20px;
                    background-position: 56px 7px, 0px 30px;
                    width: 400px;
                    background-size: 46%, 100%;
                    margin: 0 auto;
                    height: 290px;
                }
                    
            }
        }
    }
}




