.section3 {
    padding: 37px 0 49px 0;
    text-align: center;
    .about-product-why {
        h2 {
        }
        .span{
            margin-bottom: 38px;
        }
        .about-why {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
          
            .about-why-info {
                padding-top: 114px;
                text-align: left;
                max-width: 481px;
                margin: 0 auto;
                h5 {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 45px;
                    
                }
                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 41px;

                }
                .learn {
                    padding: 11px 18px;
                    background: #1B1C1F;
                    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
                    border-radius: 6px;
                    color: wheat;
                    text-decoration: none;

                }
            }

            .about-why-image{
                background: url(../images/Comp_3Afinal\ 1.png), url(../images/Rectangle\ 918\ \(1\).png);
                position: relative;
                background-repeat: no-repeat;
                left: 150px;
                background-position: 150px -12px, 0px 30px;
                width: 651px;
                background-size: 46%, 100%;
                height: 445px;
            }
                
        }
        

    }
}