.footer 
    .body-container
        .footer-info 
            .footer-info-about 
                .footer-logo 
                    img(src="./images/bee.png", alt="Bee")
                    img(src="./images/logo.png", alt="Logo")
                .footer-company Hishabee Technologies Limited
                .footer-tel Contact: +8809638011199
            .footer-info-links
                .footer-info-links-first
                    .links-title Useful Links
                     ul.ul-footer 
                        li  
                            a Privacy Policy
                        li  
                            a Terms of Use
                        li  
                            a Tutorials
                        li  
                            a Feedback & Sugesstion
                        li  
                            a Contact Us
                .footer-info-links-second
                    ul.ul-footer  
                        li 
                            a Blog
                        li 
                            a Newsletter
                        li 
                            a Help Centre
            .footer-info-newsleter 
                .newsleter-header Newsleter
                .newsleter-body
                    .footer-email
                        label(for="email") hbm2022@gmail.com
                    .footer-subscribe
                        a(href="") Subscribe
        hr
        .footer-end © 2022 Hishabee Business Manager. All Rights Reserved. Hishabee Technologies Limited
        
