.body-container
    .menu 
        .logo 
            img(src="./images/bee.png", alt="Bee")
            img(src="./images/logo.png", alt="Logo")
        .navigation 
            ul 
                li 
                    a.a1(href="") Home
                
                li 
                    a(href="") About
                
                li 
                    a(href="") Features
                
                li 
                    a(href="") Blog
                
                li 
                    a(href="") Pricing
                
                li 
                    a(href="") Contact
        .buttons
            .button-language
                button(type="submit") 
                    img(src="./images/free-icon-united-states-of-america-323310.png", alt="Flag")
                    select(name="language")  
                        option(value="english") English
                        option(value="") 
            .button-download
                button(type="submit") Download
           
            
                        
                
            

        
    