.section 
    .container 
        .product 
            .product-presentation
                .h1-product-name All-in-one Business Manager 
                    img(src="./images/free-icon-fire-3304555 (3).png", alt="Fire")
                .span-product-info Easily keep track of all your sales, income and inventory
                .span-product-text Take your business to the next level with Hishabee Business Manager Mobile App.
                .product-download 
                    .product-download-first
                        img(src="./images/free-icon-google-play-888857 (2).png", alt="Google")
                        .link-product-download-googleplay(rel="stylesheet", href="") GET IT ON Google play
                    .product-download-second
                        img(src="./images/apple (1).png", alt="app")  
                        .link-product-download-appstore(rel="stylesheet", href="") Download on the App Store
            .product-composition
                 
                

                
                                
            
                                
                            

                 
            





