.section5 
    .body-container 
        .about-product-why
               
            .about-why 
                .about-why-info 
                    h5.h5 Tally Package (Free)
                    p.p Keep track of all your day to day business transaction on your phone
                    ul 
                        li Faster data input
                        li automated reports of sales and expenses
                        li Due list management
                        li Top up and earn more
                    .bottom-learn-more
                       a.learn(href="") Learn More
                .about-why-image
                   