.section3 
    .body-container 
        .about-product-why
            .h2 
                h2 Why Hishabee Business Manager?
            .span
                span Hishabee Business Manager is extremely easy to use Business Solution on your mobile with loads of  cool features.    
            .about-why 
                .about-why-info 
                    h5.h5 Bangla and English Language
                    p.p Hishabee Business Manager has been developed keeping the people of Bangladesh in mind. That is why we built the entire application in Bangla and English.
                    .bottom-learn-more
                       a.learn(href="") Learn More
                .about-why-image
                    
                
            

    
