.section2
    .body-container
        .h2
            h2 What is Hishabee Business Manager?
        .span
            span Hishabee Business Manager is the most reliable and easy to use Business Solution on your mobile. Running a business hasn’t been easier. All-in-one Solution, made in Bangladesh, for Bangladesh.
        .about-what
            .about-what-card
                .about-what-card-image
                    img.card-img(src="./images/free-icon-briefcase-7220149.png", alt="briefcase")
                .about-what-card-title 
                    h4 Sales Manager
                .about-what-card-text Keep track of all your sales, income and invetory with Sales Manager.

            .about-what-card
                .about-what-card-image 
                    img.card-img(src="./images/premium-icon-trolley-5028852.png", alt="trolley")
                .about-what-card-title 
                    h4 E-Commerce Store
                .about-what-card-text Get your very own E-Commerce Store in 2 minutes.Powered by Hishabe. 

            .about-view
                //- img(src="../images/119597233_428456754796613_8037600463421826658_n.png", alt="screen")
                
            .about-what-card
                .about-what-card-image
                    img.card-img(src="./images/premium-icon-lightning-6063751.png", alt="lightning")
                .about-what-card-title 
                    h4 Digital Payment and EMI
                .about-what-card-text Take Digital Payments easily and securely with a click of button.
            .about-what-card
               .about-what-card-image
                    img.card-img(src="./images/premium-icon-chart-up-5422394.png", alt="chart-up")
               .about-what-card-title 
                    h4 Marketing Manager
               .about-what-card-text Start getting more customers with Hishabee Marketing Manager.
        .bottom-see-more 
            a.see(href="") See More
            
