.section7 
    .body-container
        .product-plan 
            .product-plan-title Flexible pricing plan for your startup
            .product-plan-subtitle Pricing that scales with your business immediately.
            .product-plan-menu 
                .product-plan-menu-card
                    .plan-menu-card-header
                        .plan-menu-card-header-title Free
                        .plan-menu-card-header-subtitle Free for Lifetime
                        .plan-menu-card-header-price
                            .symbol $
                            .number 0
                    .menu-card-list
                        ul
                            li Sales Tracking
                        ul
                            li Income Tracking
                        ul
                            li Due Tracking 
                        ul
                            li Expense Tracking
                        ul
                            li Dashboard Reporting
                        ul
                            li Hishabee Marketing
                        ul
                            li Customer Management
                        ul
                            li Multi-Language Support
                        ul
                    .bootom-get-started
                        a(href="") Get Started 
                .product-plan-menu-card
                    .plan-menu-card-header
                        .plan-menu-card-header-title Standard
                        .plan-menu-card-header-subtitle Monthly
                        .plan-menu-card-header-price
                            .symbol $
                            .number 60
                    .menu-card-list
                        ul
                            li Everything in Free
                        ul
                            li POS System
                        ul
                            li Digital Receiptsv
                        ul
                            li Bluetooth Printer Integration
                        ul
                            li Barcode Scanner
                        ul
                            li Stock Counting
                        ul
                            li Full Account Book Management
                        ul
                            li Digital Payment Collection
                        ul
                            li More exclusive features incoming

                    .bootom-get-started
                        a(href="") Get Started 
                .product-plan-menu-card 
                    .plan-menu-card-header
                        .plan-menu-card-header-title Advance
                        .plan-menu-card-header-subtitle Monthly
                        .plan-menu-card-header-price
                            .symbol $
                            .number 98
                    .menu-card-list
                        ul
                            li Eveything in Standard
                        ul
                            li Personal E-Commerce Store
                        ul
                            li Due Alert
                        ul
                            li Employee Management
                        ul
                            li Customer and Vendor Chat
                        ul
                            li Qr Code Payments
                        ul
                            li EMI Facility
                        ul
                            li More exclusive features incoming
                    .bootom-get-started
                        a(href="") Get Started 
