.section4 
    .body-container 
        .about-product-access
            .about-access 
                .about-access-image
                .about-access-info 
                    h5.h5 Access to Real-Time Reports
                    p.p We value you as a seller and thus Hishabee gives you instant Sales Reports. Inventory Reports and Expenses Report from a click of a button. You can see everything that happens in your store from the comfort of your home.
                    .bottom-learn-more
                       a.learn(href="") Learn More
                
                    
                
            