.section6 
    .body-container 
        .about-product-access
            .about-access 
                .about-access-image
                .about-access-info 
                    h5.h5 24/7 Customer Support
                    p.p We are here to support you with any question or concerns. Our professional support team will be able to assist you with your new Hishabee Business Manager Mobile Application. We are always available over online chat support, phone call or in-person consultation.
                    .bottom-learn-more
                       a.learn(href="") Learn More
                