doctype html
html(lang="en")
    include pug/head
    body 
        header
            include pug/header
        main 
            include pug/section
            include pug/section2
            include pug/section3
            include pug/section4
            include pug/section5
            include pug/section6
        footer

   

